@font-face {
    font-family: "GothamBlack";
    src: url('./GothamSSm/gothamssm_black.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Gotham";
    src: url('./GothamSSm/gothamssm_light.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "GothamBold";
    src: url('./GothamSSm/gothamssm_medium.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Gotham';
    margin: 0;
    padding: 0;
}

h1 {
    font-family: 'GothamBlack';
    text-align: center;
}

p {
    font-family: 'Gotham';
    margin: 10px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
    display: flex;
    justify-content: flex-end;
}

ul li {
    float: left;
}

ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul li a:hover {
    background-color: #111111;
}

table {
    width: 100%;
    border-collapse: collapse;
    font-family: system-ui, sans-serif;
}

th,
td {
    border: 1px solid #dee2e6;
    padding: 12px 16px;
    text-align: left;
}

td {
    font-family: 'Gotham';
}

th {
    font-family: 'GothamBold';
    background-color: #f8f9fa;
    font-weight: 600;
}

hr {
  border: none;          /* Removes default browser styling */
  height: 10px;           /* Set your desired thickness */
  background-color: #ffcf00; /* Set your desired color */
  border-radius: 0;      /* Forces sharp, non-rounded corners */
}