{% extends 'master.html' %}

{% block title %}
Home Page
{% endblock %}

{% block content %}
<div class='mainText'>
    <ul style='float:left; background:none'>
        <li>
            <button onclick='history.back()' >Go Back</button>
        </li>
    </ul>

    <h1>{{room}}</h1>
    <hr>
    <table>
        <tr>
            <th>Computer</th>
            <th>Status</th>
        </tr>
        {% for computer in status %}
        <tr>
            <td>{{computer.comp_name}}</td>
            <td>
                {% if computer.online == True %}
                <p style="color:red; font-family:GothamBold;">
                    Logged In
                </p>
                {% else %}
                <p>
                    Free
                </p>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>
</div>

{% endblock %}