{% extends 'master.html' %}

{% block title %}
Home Page
{% endblock %}

{% block content %}
<div class='mainText'>
    <ul>
        <li>
            <a href='/admin'>
                Admin
            </a>
        </li>
    </ul>

    <h1>RMC Computers</h1>
    <hr>
    <table>
        <tr>
            <th>Room</th>
            <th>In Use</th>
        </tr>
        {% for room in list %}
        <tr>
            <td>
                {{room.roomName}}
            </td>
            <td>
                {{room.amountOnline}}/{{room.total}}
                <button id='{{room.id}}' style='float:right' onClick='getDetails(this)'>
                    Details
                </button>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>

<!--Sending Django args from Python to HTML to JavaScript back to Python is weird this took forever to figure out-->
{{list|json_script:'query'}}

<script>
    function getDetails(x) {
        console.log(x)
    }
</script>


{% endblock %}